<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoRogue" version="2.3.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net20" />
  <package id="OptimizedPriorityQueue" version="4.2.0" targetFramework="net461" />
  <package id="RogueSharp" version="4.2.0" targetFramework="net461" />
  <package id="SadConsole" version="8.6.0" targetFramework="net461" />
  <package id="SadRex" version="1.0.2" targetFramework="net461" />
  <package id="SimplexNoise" version="2.0.0" targetFramework="net461" />
  <package id="Troschuetz.Random" version="4.3.0" targetFramework="net461" />
</packages>